/*Checkout 1*/
.content {
    display: flex;
    justify-content: space-between;
    padding-left: 65px;
    margin-top: 50px;
    margin-bottom: 250px;
  }
  
  .account_form, .order_summary {
    width: 45%;
    margin-top: 40px;
  }
  
  .account_form h2 {
    margin-bottom: 20px;
    margin-top: 40px;
  }
  
  .order_summary h3 {
    margin-top: 50px;
  }
  
  .account_form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .account_form label {
    font-size: 1rem;
  }
  
  .account_form input {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
  }
  
  .buttons .btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    font-size: smaller;
  }
  
  .order_summary .order_item {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  
  /*checkout 2*/
  .account {
    flex: 1;
    margin-right: 20px;
  }
  
  h3 {
    margin-bottom: 20px;
  }
  
  .order_summary_logged_in { 
    flex: 1;
    margin-left: 20px;
    max-width: 300px;
  }
  
  
  /*checkout 3*/
  .payment_form h2 {
    margin-top: 70px;
  }
  
  .payment_form h3 {
    margin-top: 20px;
  }
  
  .payment_form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
  }
  
  .payment_form label {
    font-size: 1rem;
  }
  
  .payment_form input {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
  }
  
  /*Checkout 4*/
  .checkout_success {
    text-align: center;
    margin-bottom: 250px;
  }
  
  .checkout_success i {
    font-size: 5rem; 
    color: #4caf50; 
    margin-bottom: 20px;
    margin-top: 170px;
  }
  
  .checkout_success h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .checkout_success p {
    font-size: 1rem;
    margin-bottom: 5px;
  }