/*product page*/
.movie_details{
  display: flex;
  max-width: 1200px;
  margin-top: 40px;
}

.cover{
  max-width: 100px;
  height: auto;
  border-radius: 10px;
  margin-left: 60px;
  margin-top: 50px;
}

.details{
  margin-left: 500px;
  margin-top: 50px;
}

.details h1{
 margin-bottom: 10px;
}

.details .age_rating{
  background-color: #555;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}

.details .info{
  margin: 10px 0;
  margin-top: 10px;
}

.details .buy_button{
  background-color: #ccc;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0;
}